.heading-box{
    background-color: pink ;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.heading-1{
   flex:1;
   align-items: center;
}
.heading-2{
    flex:1;

}
.paperbutton-box{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  

}
.footing{
    background-color: grey;
}